<footer class="page-footer">
    <p>By Archangel in a marathon discover <span><a href="https://rocketseat.com.br/">Rocketseat</a></span> </p>
    <nav>
        <ul class="links-concact">
            <li>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5589981412902&text=Ol%C3%A1%2C%20Arcanjo"><img src="/images/whatsapp.svg" alt="Imagem whatsapp"></a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/arcanjo-cassiel/"><img src="/images/linkedin.svg" alt="Imagem linkedin"></a>
            </li>
        </ul>
    </nav>
</footer>